:root {
  --dark: rgb(44, 48, 46);
  --light: rgb(255, 250, 241);
  --menu-bg: rgb(253, 234, 198);
  --menu-hover: rgb(222, 197, 148);
  --text-hover: rgb(87, 0, 0);
  --link: rgb(66, 185, 131);
  --success: rgb(40, 167, 69);
  --danger: rgb(220, 53, 69);
  --warning: rgb(255, 193, 7);
  --info: rgb(23, 163, 184);
  --border: rgb(224, 224, 224);
  --disabled: rgb(177, 177, 177);
}

/* Setup and Layouts */
body {
  background-color: var(--dark);
  color: var(--light);
}

.pixel {
  font-family: GamePixie, monospace;
}

.pixel-disable {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 80% 20%;
  column-gap: 1rem;
}

nav a {
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  color: var(--link);
}

a.btn {
  width: 35%;
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
  text-align: center;
}

a:hover {
  color: var(--info);
}

.router-link-exact-active {
  color: var(--light);
}

/* Component Styling */
.menu {
  /* border: 2px solid var(--light); */
  background-color: var(--menu-bg);
  border: 3px solid;
  border-radius: 10px;
  border-image-source: url(../imgs/border-wood.png);
  border-image-slice: 5;
  border-image-width: 5;
  border-image-repeat: stretch;
}

.btn {
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 24px;
  background-color: var(--menu-bg);
  border: 3px solid;
  border-radius: 10px;
  border-image-source: url(../imgs/border-wood.png);
  border-image-slice: 5;
  border-image-width: 5;
  border-image-repeat: stretch;
}

.btn:hover {
  background-color: var(--menu-hover);
  color: var(--text-hover);
}
